# servers
mysql:
  enabled: true
  url: 'mysql+pymysql://root:@localhost/emoji?charset=utf8mb4'

memcached:
  enabled: true
  hosts:
    - 'localhost:11211'

# services
slack:
  enabled: true
  webhook_url: https://hooks.slack.com/services/XXXXXXXXX/XXXXXXXXX/XXXXXXXXXXXXXXXXXXXXXXXX


# features
cache:
  timeout: 86400 # forever

history:
  enabled: true
