@import '../../defs/import';

.eg-result {
  $_padding: 20px;
  @mixin box;

  padding: $_padding;

  &, * {
    box-sizing: border-box;
  }

  h2 {
    @mixin box-heading;
  }

  .preview {
    display: flex;
    margin: 30px auto 0;
    justify-content: center;

    > .inner {
      display: flex;
      align-items: stretch;

      .image {
        $_border-width: 1px;
        display: block;
        width: calc($dimen-emoji-size + $_border-width);
        height: calc($dimen-emoji-size + $_border-width);
        border-radius: 5px;
        background-color: rgba(255, 255, 255, .38);

        img {
          box-sizing: content-box;
          width: $dimen-emoji-size;
          height: $dimen-emoji-size;
          border: 1px solid rgba(0, 0, 0, .18);
          border-radius: 5px;
        }
      }

      .detail {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 0 0 50px;

        ul {
          $_height: 40px;
          @mixin plain-list;

          li {
            display: flex;
            line-height: $_height;

            &::before {
              display: block;
              float: left;
              margin-right: 10px;
              width: 30px;
              height: $_height;
              background-repeat: no-repeat;
              background-position: center center;
              content: '';
              opacity: .8;
            }

            &.text {
              &::before { @mixin icon-text }
            }

            &.color {
              &::before { @mixin icon-color }
            }

            &.font {
              &::before { @mixin icon-font }
            }

            h3 {
              margin: 0;
              width: 68px;
              color: $color-blue-dark;
              font-weight: bold;
              font-size: $font-size-medium;
            }

            .user-input {
              display: block;
              margin: 0 0 0 12px;
              color: rgba(0, 0, 0, .75);
              font-size: $font-size-small;

              > .color-square {
                display: inline-block;
                margin: 1px 4px 0 0;
                border: 1px solid rgba(0, 0, 0, .18);
                width: 10px;
                height: 10px;
              }
            }
          }
        }
      }
    }
  }

  .links {
    $_height: 40px;
    display: flex;
    margin: 30px auto 15px;
    justify-content: center;

    .inner {
      display: flex;

      > div {
        padding: 0;
        height: $_height;
        line-height: $_height;
        font-size: $font-size-medium;

        a {
          display: block;
          text-decoration: none;
        }

        &.download {
          a {
            padding: 0 0 0 34px;
            color: $color-red-dark;
            height: 100%;
            background-image: url('/static/img/download.png');
            background-repeat: no-repeat;
            background-position: 0 center;
            background-size: 22px auto;
          }
        }

        &.share {
          margin: 0 0 0 40px;

          a {
            padding: 0 0 0 34px;
            color: $color-yellow-dark;
            background-image: url('/static/img/share.png');
            background-repeat: no-repeat;
            background-position: 0 center;
            background-size: 22px auto;
          }
        }
      }
    }
  }

  > .share {

  }
}
