<div class="v-cloak eg-header">
  <header>
    <h1><a href="/">絵文字 ジェネレーター</a></h1>
    <div class="icons">
      <input type="button" class="twitter sharer button" data-sharer="twitter" data-title="絵文字ジェネレーター使ってます&#9834;" data-hashtags="絵文字ジェネレーター" data-url="http://emoji.pine.moe/" title="Twitter でシェアする" v-eg-sharer>
      <input type="button" class="facebook sharer button" data-sharer="facebook" data-url="http://emoji.pine.moe/" title="Facebook でシェアする" v-eg-sharer>
      <input type="button" class="google sharer button" data-sharer="googleplus" data-url="http://emoji.pine.moe/" title="Google+ でシェアする" v-eg-sharer>
      <a href="https://github.com/emoji-gen/Emoji-Web" class="github" target="_blank">GitHub</a>
    </div>
  </header>
</div>
