<div class="v-cloak eg-contact">
  <h2>お問い合わせ</h2>

  <div class="eg-contact--body">
    <p>何かありましたら、GitHub の Issue へお願い致します。</p>

    <ul>
      <li class="github">
        <a href="https://github.com/emoji-gen/Emoji-Web/issues" target="_blank">
          <span class="owner">emoji-gen</span>/<span class="username">Emoji-Web</span>
        </a>
      </li>
    </ul>

    <p class="break">もしくは、作者の Twitter まで直接お問い合わせ下さい。</p>

    <ul>
      <li class="twitter"><a href="https://twitter.com/jiuya" target="_blank">@jiuya</a></li>
      <li class="twitter"><a href="https://twitter.com/pine613" target="_blank">@pine613</a></li>
    </ul>
  </div>
</div>
