/* fonts */
$font-size-xlarge: 18px;
$font-size-xsmall: 12px;

/* colors */
$bar-box-shadow-color: rgba(0, 0, 0, 0.2);
$bar-background-color: rgba(255, 255, 255, 0.7);

/* degree */
$slack-rotate-left: -18deg;
$slack-rotate-right: 18deg;

/* components */
$root-height: 1135px;


