@import "style/import";

$_opacity: 0.4;

.eg-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  box-sizing: border-box;
  height: $dimen-root-height;
  overflow: hidden;
  z-index: -1;

  .blue {
    position: absolute;
    top: 100px;
    left: -30px;
    width: 800px;
    height: 10px;
    background-color: $color-blue;
    opacity: $_opacity;
    transform: rotate($slack-rotate-left);
  }

  .red {
    position: absolute;
    top: 170px;
    left: -50px;
    width: 1250px;
    height: 10px;
    background-color: $color-red;
    opacity: $_opacity;
    transform: rotate($slack-rotate-left);
  }


  .green {
    position: absolute;
    top: -30px;
    left: 200px;
    width: 10px;
    height: 1200px;
    background-color: $color-green;
    opacity: $_opacity;
    transform: rotate($slack-rotate-left);
  }

  .yellow {
    position: absolute;
    top: -30px;
    left: 330px;
    width: 10px;
    height: 1200px;
    background-color: $color-yellow;
    opacity: $_opacity;
    transform: rotate($slack-rotate-left);
  }
}
