<div class="v-cloak eg-generator">
  <h2>絵文字にしたい文字を入力してください！</h2>

  <div class="buttons">
    <button type="button" class="pure-button" v-on:click="generate" v-eg-scroll>生成する&#9834;</button>
  </div>

  <div class="parameters">
    <div class="parameter text">
      <h3>テキスト</h3>
      <textarea rows="2" cols="10" v-model="text"></textarea>
    </div>

    <div class="parameter font">
      <h3>フォント</h3>
      <ul>
        <li v-for="font in fonts">
          <input type="radio" name="eg_generator__font_key" :value="font.key"
            id="eg_generator__font_{{font.key}}" v-model="fontKey">
          <label for="eg_generator__font_{{font.key}}">{{font.name}}</label>
        </li>
      </ul>
    </div>

    <div class="parameter color">
      <h3>カラー</h3>
      <chrome-picker :colors.sync="colors"></chrome-picker>
    </div>
  </div>
</div>
