@import "../../defs/import";

@define-mixin _parameter {
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, .15);
  border-radius: 2px;
}

.eg-generator {
  @mixin box;
  padding: 20px 0 35px;

  &, * {
    box-sizing: border-box;
  }

  h2 {
    @mixin box-heading;
  }

  h3 {
    display: block;
    margin: 0 0 16px;
    font-size: $font-size-medium;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    color: $color-blue-dark;
  }


  .buttons {
    margin-top: 50px;
    text-align: center;

    button {
      padding: 12px 60px;
      border-radius: 12px;
      background-color: color($color-red a(.50));
      background-image: none !important;
      color: white;
      font-weight: bold;

      &:hover, &:focus {
        background-color: color($color-red a(.75));
      }
    }
  }

  .parameters {
    display: flex;
    justify-content: center;
    margin: 38px 0 0;

    .parameter {
      margin: 0 30px 0;
      text-align: center;

      &.text {
        textarea {
          @mixin _parameter;
          margin: 0 0 50px 0;
          padding: 10px;
          border: 0;
          width: 140px;
          height: 100px;
          text-align: center;
          -webkit-appearance: none;
        }
      }

      &.color {
        margin-right: 32px;

        > div {
          @mixin _parameter;
        }
      }

      &.font {
        ul { @mixin plain-list }

        input {
          display: none;

          &:checked + label {
            border: 1px solid color($color-blue a(.80) blackness(30%));
            background-image: url(/static/img/checked.png);
            background-repeat: no-repeat;
            background-position: 14px center;
            background-size: 20px auto;
            color: color($color-blue blackness(35%));
          }
        }

        label {
          display: block;
          margin: 0 0 5px;
          padding: 8px 23px 8px 46px;
          border-radius: 16px;
          border: 1px solid rgba(0, 0, 0, .2);
          color: rgba(0, 0, 0, .32);
          font-size: $font-size-medium;
          text-align: left;
          user-select: none;
          cursor: pointer;
        }
      }
    }
  }
}

