@import "../../defs/import";

.eg-recently {
  $_padding: 32px;

  margin: 30px auto 30px auto;
  padding: $_padding $_padding calc($_padding + 28px) $_padding;
  width: $dimen-content-width;
  background-color: $background-color-white;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);

  &, * {
    box-sizing: border-box;
  }

  h2 {
    @mixin box-heading;
  }

  .carousel {
    $_border-width: 1px;
    height: calc($dimen-emoji-size + $_border-width * 2);

    .carousel-cell {
      box-sizing: content-box;
      width: $dimen-emoji-size;
      height: $dimen-emoji-size;
      margin-right: 10px;
      border: $_border-width solid rgba(0, 0, 0, 0.18);
      border-radius: 5px;
      background-image: url('/emoji?text=%E5%A4%A9%E6%89%8D%0d%E7%8F%BE%E3%82%8B&color=6FCBDD');
    }
  }
}
