<!DOCTYPE html>
<html lang="{{ locale }}">
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
    {% block head %}
      <meta charset="utf-8">

      {# Google Analytics #}
      {% include 'includes/base_gtag.html' %}

      {# CSS / JavaScript #}
      <style> [v-cloak] { display: none } </style>

      {% if JS_URL %}
        <link rel="preload" href="{{ JS_URL }}" as="script">
      {% else %}
        <link rel="preload" href="/assets/script.js?_ts={{ TS }}" as="script">
      {% endif %}

      {% if CSS_URL %}
        <link rel="stylesheet" href="{{ CSS_URL }}">
      {% else %}
        <link rel="stylesheet" href="/assets/style.css?_ts={{ TS }}">
      {% endif %}

      {% filter squash %}
        <script>
          var MESSAGES = JSON.parse('{{ messages|safe }}');
          var FONTS = {{ fonts|safe }};
          var RECENTLY_LOGS = {{ emoji_logs|safe }};
        </script>
      {% endfilter %}

      {# Meta / OGP #}
      <meta name="twitter:card" content="summary_large_image">
      <meta property="fb:app_id" content="1668136526839121">
      <meta property="og:description" content="{% block og_description %}{% endblock %}">
      <meta property="og:type" content="website">
      <meta property="og:site_name" content="{{ localized('site_name') }} - {{ localized('site_lead') }}">
      <meta property="og:image" content="{{ BASE_URL }}/assets/img/ogp_summary.png">
      <meta property="og:image:width" content="1200">
      <meta property="og:image:height" content="630">
      <meta property="og:url" content="{% block og_url %}{% endblock %}">
      <meta property="og:title" content="{% block og_title %}{% endblock %}">
      {% if DEBUG %}
        <meta name="robots" value="noindex">
      {% endif %}
      <link rel="canonical" href="{% block canonical %}{% endblock %}">
      <title>{% block title %}{% endblock %}</title>
    {% endblock %}
  </head>
  <body data-app-id="j1g3xUDxVmwWCCKqibVQCZOHNpvnSMBY">
    {% block body %}
      <div class="v-cloak App"></div>

      {% if JS_URL %}
        <script src="{{ JS_URL }}"></script>
      {% else %}
        <script src="/assets/script.js?_ts={{ TS }}"></script>
      {% endif %}
    {% endblock %}
  </body>
</html>
