{% extends "base.html" %}
{% set page_url = site_url + to_localized_path('/contact') %}
{% set page_url_en = site_url + to_localized_path('/contact', 'en') %}
{% set page_url_ja = site_url + to_localized_path('/contact', 'ja') %}
{% set page_url_ko = site_url + to_localized_path('/contact', 'ko') %}

{% block og_title %}{{ localized('contact_title') }} - {{ localized('site_name') }}{% endblock %}
{% block og_description %}{{ localized('site_description') }}{% endblock %}
{% block title %}{{ localized('contact_title') }} - {{ localized('site_name') }}{% endblock %}

{% block head %}
  {{ super() }}
{% endblock %}
