{% extends "base.html" %}

{% block description %}{{ SITE_DESCRIPTION }}{% endblock %}
{% block og_title %}{{ SITE_NAME }} - {{ SITE_LEAD }}{% endblock %}
{% block og_description %}{{ SITE_DESCRIPTION }}{% endblock %}
{% block og_url %}{{ SITE_URL }}/{% endblock %}
{% block canonical %}{{ SITE_URL }}/{% endblock %}
{% block title %}{{ localized('site_name') }} - {{ SITE_LEAD }}{% endblock %}


{% block head %}
  {{ super() }}
  <meta name="description" content="{{ SITE_DESCRIPTION }}">
{% endblock %}
