{% set subtitle = 'Slack 向け絵文字を無料で簡単生成' %}
{% set description = '絵文字ジェネレーターで、綺麗な絵文字を生成しよう! 好みのテキストと色を指定するだけで、綺麗な絵文字 (スタンプ) が無料で簡単生成できます! Slack などチャットツールでの利用に最適! リアクション絵文字でコミュニケーションを活発化しましょう👍' %}
{% set path = '/' %}

{% extends "base.j2" %}
