@import "../../defs/import";

$_height: $dimen-header-height;
$_color: rgb(80, 80, 80);
$_logo-size: 40px;

.eg-header {
  &, * {
    box-sizing: border-box;
  }

  header {
    position: relative;
    height: $_height;
    z-index: 1;
    background-color: $background-color-white;
    box-shadow: 0px 0px 3px 1px $bar-box-shadow-color;

    &::before {
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 60px;
      right: 0;
      width: $_logo-size;
      transform: rotate($slack-rotate-left);
      background-image: url('/static/img/logo128.png');
      background-size: $_logo-size auto;
      background-repeat: no-repeat;
      background-position: 0px center;
      content: '';
    }

    h1 {
      display: inline;
      position: absolute;
      left: 124px;
      bottom: 12px;
      font-size: $font-size-xlarge;
      font-weight: bold;
      letter-spacing: 6px;
      color: $_color;
    }

    .icons {
      display: flex;
      flex-direction: row;
      align-items: center;
      position: absolute;
      top: 0;
      right: 60px;
      bottom: 0;

      input, a {
        display: block;
        margin: 0 0 0 12px;
        border: 0;
        width: 40px;
        height: 40px;
        background-color: transparent;
        background-size: $_logo-size auto;
        background-repeat: no-repeat;
        background-position: 0px center;
        overflow: hidden;
        text-indent: 100%;
        white-space: nowrap;

        &.twitter {
          background-image: url('/static/img/twitter.png');
          opacity: .85;
        }

        &.facebook {
          background-image: url('/static/img/facebook.png');
          opacity: .85;
        }

        &.github {
          background-image: url('/static/img/github.png');
          opacity: .70;
        }
      }
    }
  }
}
