<link rel="alternate" hreflang="ja" href="{{ site_url }}{{ to_localized_path(page_path) }}">
<link rel="alternate" hreflang="ko" href="{{ site_url }}{{ to_localized_path(page_path, 'ko') }}">
<link rel="alternate" hreflang="zh-Hans" href="{{ site_url }}{{ to_localized_path(page_path, 'zh-Hans') }}">
<link rel="alternate" hreflang="zh-Hant" href="{{ site_url }}{{ to_localized_path(page_path, 'zh-Hant') }}">
<link rel="alternate" hreflang="en" href="{{ site_url }}{{ to_localized_path(page_path, 'en') }}">
<link rel="canonical" href="{{ site_url }}{{ to_localized_path(page_path) }}">

