aiohttp==3.1.0
aiohttp-jinja2==0.17.0
aiomysql==0.0.12
async-timeout==2.0.1
asyncio==3.4.3
attrs==17.4.0
chardet==3.0.4
emojilib==0.1.5
funcy==1.10.1
htmlmin==0.1.12
idna==2.6
idna-ssl==1.0.1
Jinja2==2.10
MarkupSafe==1.0
multidict==4.1.0
protobuf==3.5.2.post1
PyMySQL==0.8.0
PyYAML==3.12
six==1.11.0
SQLAlchemy==1.2.5
yarl==1.1.1
