aiohttp==3.3.2
aiohttp-jinja2==1.0.0
aiomysql==0.0.16
asn1crypto==0.24.0
async-timeout==3.0.0
asyncio==3.4.3
attrs==18.1.0
cffi==1.11.5
chardet==3.0.4
cryptography==2.2.2
emojilib==0.1.6
funcy==1.10.3
htmlmin==0.1.12
idna==2.7
idna-ssl==1.0.1
Jinja2==2.10
MarkupSafe==1.0
multidict==4.3.1
protobuf==3.6.0
pycparser==2.18
PyMySQL==0.8.1
PyYAML==3.12
six==1.11.0
SQLAlchemy==1.2.9
yarl==1.2.6
