@import "../../defs/import";

.eg-contact {
  @mixin box;
  $_padding: 32px;

  padding: $_padding $_padding calc($_padding + 28px) $_padding;
  margin-bottom: 180px;
  min-height: 600px;

  &, * {
    box-sizing: border-box;
  }

  h2 {
    @mixin box-heading;
  }

  .eg-contact--body {
    padding: 30px;

    ul {
      margin: 18px 0;

      li {
        margin: 10px 0;
        padding: 1px 0 0 42px;
        height: 30px;
        line-height: 30px;
        list-style-type: none;
        list-style-position: inside;
        background-size: 26px auto;
        background-repeat: no-repeat;
        background-position: 0 center;
        font-size: $font-size-medium;

        a {
          text-decoration: none;

          .owner {
            margin-right: 2px;
          }

          .username {
            margin-left: 2.5px;
          }
        }

        &.twitter { @mixin icon-twitter }
        &.github { @mixin icon-github }
      }
    }

    p {
      &.break {
        margin-top: 45px;
      }
    }
  }
}
