cache:
  timeout: 86400 # 24 hours
  memcached:
    enabled: false
    servers:
      - '127.0.0.1:11211'
slack:
  enable: false
  url: https://hooks.slack.com/services/XXXXXXXXX/XXXXXXXXX/XXXXXXXXXXXXXXXXXXXXXXXX

mysql:
  enabled: false
  url: 'mysql+pymysql://root:@localhost/emoji?charset=utf8mb4'

