@import "../../defs/import";

$_top: calc($dimen-root-height - $dimen-footer-height);
$_height: $dimen-footer-height;

.eg-footer {
  position: absolute;
  top: $_top;
  left: 0;
  right: 0;
  height: $_height;

  footer {
    width: 100%;
    height: $_height;
    background-color: $background-color-white;
    box-shadow: 0px 0px 3px 1px $bar-box-shadow-color;

    p {
      margin: 0;
      line-height: 50px;
      color: rgb(140, 140, 140);
      font-size: $font-size-xsmall;
      text-align: center;
    }
  }
}
