/**
 * includes/_variables.scss
 */


/**
 * Fonts
 */
$font-xlarge: 19px;
$font-large: 17px;
$font-medium: 15px;
$font-small: 13px;
$font-xsmall: 11px;


/**
 * Colors
 */
$color-blue: #6FCBDD;
$color-blue-dark: #3AB0C7;
$color-red: #E11665;
$color-red-dark: #BE1C60;
$color-green: #38BA91;
$color-green-dark: #1EBAA0;
$color-yellow: #EAA822;
$color-yellow-dark: #AD780C;
$color-gray: #8C8C8C;

$color-background-white: rgba(255, 255, 255, 0.7);
$color-shadow-white: rgba(0, 0, 0, 0.2);

