<div class="v-cloak eg-color-kind">
  <ul>
    <li>
      <input type="radio" name="eg_generator__color_kind" value="foreground"
        id="eg_generator__color_kind_foreground" v-model="colorKind">
      <label for="eg_generator__color_kind_foreground">表</label>
    </li>
    <li>
      <input type="radio" name="eg_generator__color_kind" value="background"
        id="eg_generator__color_kind_background" v-model="colorKind">
      <label for="eg_generator__color_kind_background">裏</label>
    </li>
  </ul>
</div>
