{% set subtitle = 'チャットツール向け絵文字を簡単生成' %}
{% set description = '絵文字ジェネレーターで、綺麗な絵文字を生成しよう! 好みのテキストと色を指定するだけで、綺麗な絵文字が簡単に無料で生成できます! Slack などチャットツールでの利用に最適です。' %}
{% set path = '/' %}

{% extends "layout/main.j2" %}
