<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Ultimate Slack Emoji Generator</title>
  </head>
  <body>

  </body>
</html>
