<!DOCTYPE html>
<html lang="ja">
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
    <meta charset="utf-8">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="fb:app_id" content="1668136526839121">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="絵文字ジェネレーター">
    <meta property="og:title" content="絵文字ジェネレーター">
    <meta property="og:description" content="絵文字ジェネレーターで、綺麗な絵文字を生成しよう! 好みのテキストと色を指定するだけで、綺麗な絵文字が簡単に生成できます。">
    <meta property="og:url" content="http://emoji.pine.moe">
    <meta property="og:image" content="http://emoji.pine.moe/static/img/ogp_summary.png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta name="app:env:debug" content="{% if debug %}true{% else %}false{% endif %}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <style> [v-cloak] { display: none } </style>
    <title>絵文字ジェネレーター</title>
  </head>
  <body>
    <div class="v-cloak eg-root"></div>
    {% if debug -%}
    <script src="{{ url_for('static', filename='js/bundle.js') }}"></script>
    {%- else -%}
    <script src="{{ url_for('static', filename='js/bundle.min.js') }}?{{ js_min_checksum }}"></script>
    {%- endif %}
  </body>
</html>
