<div class="v-cloak eg-generator">
  <h2>絵文字にしたい文字を入力してください！</h2>

  <div class="buttons">
    <button type="button" class="pure-button" v-on:click="generate" v-eg-scroll>生成する&#9834;</button>

    <p class="history" v-if="historyEnabled"
       title="チェックマークを外すと、絵文字が生成履歴に残りません。">
      <label class="pure-checkbox">
        <input type="checkbox" v-model="publicFg"/>
        生成履歴に絵文字を表示する
      </label>
    </p>
  </div>

  <div class="parameters">
    <div class="parameter text">
      <h3>テキスト</h3>
      <textarea rows="2" cols="10" v-model="text"></textarea>

      <h4>文字揃え</h4>
      <div class="aligns">
        <span class="align left">
          <input type="radio" name="eg_generator__text_align_key"
                 id="eg_generator__text_align_left" value="left" v-model="textAlign">
          <label for="eg_generator__text_align_left">左</label>
        </span>
        <span class="align center">
          <input type="radio" name="eg_generator__text_align_key"
                 id="eg_generator__text_align_center" value="center" v-model="textAlign">
          <label for="eg_generator__text_align_center">中央</label>
        </span>
        <span class="align right">
          <input type="radio" name="eg_generator__text_align_key"
                 id="eg_generator__text_align_right" value="right" v-model="textAlign">
          <label for="eg_generator__text_align_right">右</label>
        </span>
      </div>

      <h4>サイズ調整</h4>
      <div class="sizes">
        <label>
          <input type="checkbox" v-model="sizeFixed">
          文字サイズを固定する
        </label>
        <label>
          <input type="checkbox" v-model="nonStretch">
          自動で伸縮しない
        </label>
      </div>
    </div>

    <div class="parameter font">
      <h3>フォント</h3>
      <ul>
        <li v-for="font in fonts" track-by="$index">
          <input type="radio" name="eg_generator__font_key" :value="font.key"
            id="eg_generator__font_{{font.key}}" v-model="fontKey">
          <label for="eg_generator__font_{{font.key}}">{{font.name}}</label>
        </li>
      </ul>
    </div>

    <div class="parameter color">
      <h3>カラー</h3>
      <div class="pickers">
        <div class="picker-wrapper" v-show="colorKind == 'foreground'">
          <chrome-picker :colors.sync="colors"></chrome-picker>
        </div>
        <div class="picker-wrapper" v-else>
          <chrome-picker :colors.sync="backgroundColors"></chrome-picker>
        </div>
      </div>
      <eg-color-kind :color-kind.sync="colorKind"></eg-color-kind>
    </div>
  </div>
</div>
