@import 'includes/mixins';
@import 'includes/variables';

html, body {
  margin: 0;
  padding: 0;
}

body {
  overflow-y: scroll;
  background-color: #FFF;
  font-family: 'Hiragino Kaku Gothic ProN', 'Yu Gothic', sans-serif;
}
