@import 'includes/mixins';
@import 'includes/variables';

html, body {
  margin: 0;
  padding: 0;
}

html {
  body {
    overflow-y: scroll;
    background-color: #FFF;
  }

  /**
   * Font family
   */
  &:lang(ja) {
    body {
      font-family: 'Hiragino Kaku Gothic ProN', 'Hiragino Kaku Gothic', 'Yu Gothic', -apple-system, BlinkMacSystemFont, sans-serif;
    }
  }
  &:lang(ko) {
    body {
      font-family: 'AppleGothic', 'Malgun Gothic', sans-serif;
    }
  }
  &:lang(zh-Hans) {
    body {
       font-family: 'STHeiti', 'Microsoft YaHei', sans-serif;
    }
  }
  &:lang(zh-Hant) {
    body {
       font-family: 'LiHei Pro', 'Microsoft JhengHei', sans-serif;
    }
  }
  &:lang(en) {
    body {
      font-family: 'Avenir', 'Arial', sans-serif;
    }
  }
}

